
@import './../../styles/colors';

.landing__page-conatiner {
    background: $blueBackgroundDark;
    color: $textColor;
    width: 100%;
    height: calc( 100vh - 16rem);
    padding-top: 10rem;
    .landing__message-wrapper {
        width: 80%;
        margin: auto;
        text-align: center;
        .landing__stepstouse-container {
            display: flex;
            justify-content: center;
            padding-top: 5rem;
            .landing__register-steps,
            .landing__login-steps {
                a {
                    margin-top: 2rem;
                }
            }
            .landing__register-steps {
                margin-left: 5rem;
            }
        }
    }
}
